*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# NDK
obj/
jniLibs/

# Kotlin specific
*.kotlin_metadata

# APKs and other build artifacts
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.so
*.zip
*.tar.gz
*.tgz